<?xml version="1.0" encoding="UTF-8"?>  
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  
  
<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">



<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
<!--  
 <property name="url" value="jdbc:mysql://localhost:3306/testsDB"/>
      <property name="username" value="root"/>
      <property name="password" value="asdf12345"/> 
      -->
 
    <property name="url" value="jdbc:mysql://localhost:3306/pcmdb"/>
      <property name="username" value="root"/>
      <property name="password" value="pass@123"/>
      
      

<!-- 
<property name="url" value="jdbc:mysql://localhost/carforto_test" />
<property name="username" value="carforto_test1" />
<property name="password" value="carforto_test123" />
-->

</bean>  
<!--   this will be user when usring jdbc template
<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">  
<property name="dataSource" ref="dataSource"></property>  
</bean>  
  
<bean id="employeeDao" class="com.javatpoint.EmployeeDao">  
<property name="jdbcTemplate" ref="jdbcTemplate"></property>  
</bean>  
 -->


<!-- 
	<bean id="mysessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"> -->
		
		
	<bean id="mysessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		
<!-- 
		<property name="mappingResources">
			<list>
				<value>employee.hbm.xml</value>
			</list>
		</property> -->
		
		

	 	<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<!-- <prop key="hibernate.hbm2ddl.auto">update</prop> -->
				<prop key="hibernate.show_sql">true</prop>
			</props>  
			
			
		</property>

<!-- 
	<property name="packagesToScan">
		<list>
			<value>com.javatpoint</value>
		</list>
	</property>
		 -->

	<property name="annotatedClasses">
		<list>
			<value>com.javatpoint.Employee</value>
			<value>com.cft.pojo.User</value>
			<value>com.cft.pojo.Staging</value>
			<value>com.cft.pojo.BookTour</value>
			<value>com.cft.pojo.Vender</value>
			<value>com.cft.pojo.Vehicle</value>
			<value>com.cft.pojo.City</value>
		</list>
	</property>
		 
		 <property name="dataSource" ref="dataSource"></property>
		 
	
    
    
    
		  
	</bean>

 	<bean id="template" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="mysessionFactory"></property>
	</bean>

	<bean id="employeeDao" class="com.javatpoint.EmployeeDao">
		<property name="template" ref="template"></property>
	</bean>
	
	
	<bean id="communicateBean" class="com.ss.bean.CommunicateBean">
		<!-- <constructor-arg> <ref bean="employeeDao"/> </constructor-arg> -->
	</bean>  

	
	<bean id="booktourBean" class="com.cft.bean.BookTourBean">
			<property name="template" ref="template"></property>
	</bean>
	
	
	<bean id="stagingBean" class="com.cft.bean.StagingBean">
			<property name="template" ref="template"></property>
	</bean>  

	<bean id="userBean" class="com.cft.bean.UserBean">
			<property name="template" ref="template"></property>
			<property name="stagingBean" ref="stagingBean"></property>
			<property name="communicateBean" ref="communicateBean"></property>
			
	</bean> 
	
	<bean id="venderBean" class="com.cft.bean.VenderBean">
			<property name="template" ref="template"></property>
			<property name="stagingBean" ref="stagingBean"></property>
			<property name="communicateBean" ref="communicateBean"></property>
			
	</bean>  
	 
<bean id="vehicleBean" class="com.cft.bean.VehicleBean">
			<property name="template" ref="template"></property>
	</bean> 
	
	<bean id="cityBean" class="com.cft.bean.CityBean">
			<property name="template" ref="template"></property>
	</bean>  



  
</beans>  